
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}
.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 90%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
 }
}
.star:nth-child(1) {
  --star-tail-length: 5142053549.1000003815em;
  --top-offset: 155506431088.200012207vh;
  --fall-duration: 6807094016.6140003204s;
  --fall-delay: 6058341253.5480003357s;
}
.star:nth-child(2) {
  --star-tail-length: 4947764032.279999733em;
  --top-offset: 121716639346.8899993896vh;
  --fall-duration: 8572874482.3170003891s;
  --fall-delay: 18325991935.9519996643s;
}
.star:nth-child(3) {
  --star-tail-length: 2642675582.9600000381em;
  --top-offset: 92315289405.8800048828vh;
  --fall-duration: 2507070265.4140000343s;
  --fall-delay: 5874610322.2919998169s;
}
.star:nth-child(4) {
  --star-tail-length: 3620199518.1300001144em;
  --top-offset: 16432026638.3600006104vh;
  --fall-duration: 10381774539.420999527s;
  --fall-delay: 7771524774.7700004578s;
}
.star:nth-child(5) {
  --star-tail-length: 683887114.8400000334em;
  --top-offset: 10774806472.9099998474vh;
  --fall-duration: 3086579274.1539998055s;
  --fall-delay: 4134403759.0359997749s;
}
.star:nth-child(6) {
  --star-tail-length: 1171083011.8499999046em;
  --top-offset: 67414549280.8499984741vh;
  --fall-duration: 1444913350.760999918s;
  --fall-delay: 11646044538.0049991608s;
}
.star:nth-child(7) {
  --star-tail-length: 4335626627.8400001526em;
  --top-offset: 154515408695.8699951172vh;
  --fall-duration: 8979612594.7059993744s;
  --fall-delay: 18468249650.3009986877s;
}
.star:nth-child(8) {
  --star-tail-length: 4627870726.9600000381em;
  --top-offset: 41235786066.2900009155vh;
  --fall-duration: 9552716808.158000946s;
  --fall-delay: 10439466162.232000351s;
}
.star:nth-child(9) {
  --star-tail-length: 3269092768.9600000381em;
  --top-offset: 133214129880.9799957275vh;
  --fall-duration: 2960451240.3179998398s;
  --fall-delay: 16654951868.6539993286s;
}
.star:nth-child(10) {
  --star-tail-length: 322580458.5899999738em;
  --top-offset: 154042626422.3699951172vh;
  --fall-duration: 7186941077.9079999924s;
  --fall-delay: 10295977714.8220005035s;
}
.star:nth-child(11) {
  --star-tail-length: 2217086649.5199999809em;
  --top-offset: 90799011493.25vh;
  --fall-duration: 11194337988.0949993134s;
  --fall-delay: 3366801576.4930000305s;
}
.star:nth-child(12) {
  --star-tail-length: 4263255712.5em;
  --top-offset: 86399441280.2200012207vh;
  --fall-duration: 7717058994.170999527s;
  --fall-delay: 14250322599.7709999084s;
}
.star:nth-child(13) {
  --star-tail-length: 612821878.9099999666em;
  --top-offset: 84411730929.0599975586vh;
  --fall-duration: 12045992856.9200000763s;
  --fall-delay: 516637448.5789999962s;
}
.star:nth-child(14) {
  --star-tail-length: 2503336356.5999999046em;
  --top-offset: 209053210930.7699890137vh;
  --fall-duration: 8845993026.4890003204s;
  --fall-delay: 5204599037.8629999161s;
}
.star:nth-child(15) {
  --star-tail-length: 2497873321.5199999809em;
  --top-offset: 98782078620.1399993896vh;
  --fall-duration: 10687962542.2509994507s;
  --fall-delay: 6076550584.2989997864s;
}
.star:nth-child(16) {
  --star-tail-length: 2204549616.1799998283em;
  --top-offset: 177894989820.2099914551vh;
  --fall-duration: 3225665873.390999794s;
  --fall-delay: 17020810130.8220005035s;
}
.star:nth-child(17) {
  --star-tail-length: 3350410305.7100000381em;
  --top-offset: 23183733341.5200004578vh;
  --fall-duration: 1266099177.3650000095s;
  --fall-delay: 16381007676.9740009308s;
}
.star:nth-child(18) {
  --star-tail-length: 4682226313.0799999237em;
  --top-offset: 179677332136.6199951172vh;
  --fall-duration: 8881724684.7730007172s;
  --fall-delay: 15751824064.9039993286s;
}
.star:nth-child(19) {
  --star-tail-length: 2836046505.0399999619em;
  --top-offset: 43794351597.2600021362vh;
  --fall-duration: 10588185571.5270004272s;
  --fall-delay: 16097345953.6380004883s;
}
.star:nth-child(20) {
  --star-tail-length: 890852678.8400000334em;
  --top-offset: 99458358241.3399963379vh;
  --fall-duration: 10883062415.4780006409s;
  --fall-delay: 19504810816.0530014038s;
}
.star:nth-child(21) {
  --star-tail-length: 2855036263.9499998093em;
  --top-offset: 123909560417.0700073242vh;
  --fall-duration: 4159000737.2800002098s;
  --fall-delay: 13614404664.3360004425s;
}
.star:nth-child(22) {
  --star-tail-length: 3088101696.4899997711em;
  --top-offset: 51055834472.9400024414vh;
  --fall-duration: 7886924554.3800001144s;
  --fall-delay: 1268385285.8459999561s;
}
.star:nth-child(23) {
  --star-tail-length: 5188446097.470000267em;
  --top-offset: 110510766171.6199951172vh;
  --fall-duration: 4615602718.9289999008s;
  --fall-delay: 4482773212.498000145s;
}
.star:nth-child(24) {
  --star-tail-length: 5340727895.3599996567em;
  --top-offset: 211365278614.4200134277vh;
  --fall-duration: 12484664096.6100006104s;
  --fall-delay: 21279544491.6749992371s;
}
.star:nth-child(25) {
  --star-tail-length: 138538955.5099999905em;
  --top-offset: 127745056028.2799987793vh;
  --fall-duration: 5581364862.4639997482s;
  --fall-delay: 5325747921.5399999619s;
}
.star:nth-child(26) {
  --star-tail-length: 1243954717.3699998856em;
  --top-offset: 29372894795.7799987793vh;
  --fall-duration: 9886719590.0119991302s;
  --fall-delay: 17240913658.9739990234s;
}
.star:nth-child(27) {
  --star-tail-length: 1470776085.6600000858em;
  --top-offset: 48280587275.9700012207vh;
  --fall-duration: 5577912085.0970001221s;
  --fall-delay: 17601613015.3030014038s;
}
.star:nth-child(28) {
  --star-tail-length: 2965204072.0199999809em;
  --top-offset: 134545631517.8300018311vh;
  --fall-duration: 5401398377.0480003357s;
  --fall-delay: 11273672724.547000885s;
}
.star:nth-child(29) {
  --star-tail-length: 2042674053.6199998856em;
  --top-offset: 30727846577.4099998474vh;
  --fall-duration: 1753143175.8380000591s;
  --fall-delay: 12031796659.3600006104s;
}
.star:nth-child(30) {
  --star-tail-length: 2040270532.8399999142em;
  --top-offset: 36258609998.4499969482vh;
  --fall-duration: 4730664434.6859998703s;
  --fall-delay: 5913198740.748000145s;
}
.star:nth-child(31) {
  --star-tail-length: 4010425668.9899997711em;
  --top-offset: 15897855326.5699996948vh;
  --fall-duration: 3419168172.4000000954s;
  --fall-delay: 19561621386.5419998169s;
}
.star:nth-child(32) {
  --star-tail-length: 4131505320.5399999619em;
  --top-offset: 83345048571.4900054932vh;
  --fall-duration: 3718625867.6989998817s;
  --fall-delay: 817562888.1139999628s;
}
.star:nth-child(33) {
  --star-tail-length: 3067394547.8899998665em;
  --top-offset: 181069831372.6199951172vh;
  --fall-duration: 6756002888.845000267s;
  --fall-delay: 10490991874.2880001068s;
}
.star:nth-child(34) {
  --star-tail-length: 1010689747.3600000143em;
  --top-offset: 18881879499.1500015259vh;
  --fall-duration: 10980795631.6329994202s;
  --fall-delay: 554057910.2510000467s;
}
.star:nth-child(35) {
  --star-tail-length: 2368762367.75em;
  --top-offset: 61390244810.6399993896vh;
  --fall-duration: 9987226000.2889995575s;
  --fall-delay: 8738719984.6200008392s;
}
.star:nth-child(36) {
  --star-tail-length: 2649380872.2600002289em;
  --top-offset: 60605079801.9899978638vh;
  --fall-duration: 2359069606.748000145s;
  --fall-delay: 8703752298.2010002136s;
}
.star:nth-child(37) {
  --star-tail-length: 4206548125.8600001335em;
  --top-offset: 185495300775.3099975586vh;
  --fall-duration: 6499966245.1820001602s;
  --fall-delay: 14349935560.0709991455s;
}
.star:nth-child(38) {
  --star-tail-length: 1772050027.75em;
  --top-offset: 81783700252.2700042725vh;
  --fall-duration: 1842066755.9649999142s;
  --fall-delay: 13363343520.732000351s;
}
.star:nth-child(39) {
  --star-tail-length: 3369810550.0199999809em;
  --top-offset: 178821221934.1600036621vh;
  --fall-duration: 763242687.9160000086s;
  --fall-delay: 7254652232.6840000153s;
}
.star:nth-child(40) {
  --star-tail-length: 1440555959.25em;
  --top-offset: 204347415498.2799987793vh;
  --fall-duration: 12285489592.3910007477s;
  --fall-delay: 13188171455.2770004272s;
}
.star:nth-child(41) {
  --star-tail-length: 889414704.8600000143em;
  --top-offset: 98383856801.9400024414vh;
  --fall-duration: 11776149016.4409999847s;
  --fall-delay: 1123920710.8329999447s;
}
.star:nth-child(42) {
  --star-tail-length: 2652636410.0300002098em;
  --top-offset: 162656418815.4800109863vh;
  --fall-duration: 2300332712.896999836s;
  --fall-delay: 17754943736.841999054s;
}
.star:nth-child(43) {
  --star-tail-length: 2219729862.75em;
  --top-offset: 196916869117.9400024414vh;
  --fall-duration: 2297248300.9140000343s;
  --fall-delay: 4194383556.4159998894s;
}
.star:nth-child(44) {
  --star-tail-length: 3708088014em;
  --top-offset: 80753308823.4299926758vh;
  --fall-duration: 3622658973.8819999695s;
  --fall-delay: 3077036782.9109997749s;
}
.star:nth-child(45) {
  --star-tail-length: 5286253797.0799999237em;
  --top-offset: 160518820377.0100097656vh;
  --fall-duration: 5814796561.263999939s;
  --fall-delay: 5716334956.3380002975s;
}
.star:nth-child(46) {
  --star-tail-length: 3958504172.9400000572em;
  --top-offset: 72824064978.3300018311vh;
  --fall-duration: 12634561287.3120002747s;
  --fall-delay: 13755115033.9659996033s;
}
.star:nth-child(47) {
  --star-tail-length: 1892621728.0899999142em;
  --top-offset: 39253464553.9599990845vh;
  --fall-duration: 7263162677.390999794s;
  --fall-delay: 14564569581.3269996643s;
}
.star:nth-child(48) {
  --star-tail-length: 4376985147.8199996948em;
  --top-offset: 119791187921vh;
  --fall-duration: 3102808990.6560001373s;
  --fall-delay: 1159832771.6800000668s;
}
.star:nth-child(49) {
  --star-tail-length: 5180994637.8800001144em;
  --top-offset: 82045070886.7200012207vh;
  --fall-duration: 6671823411.2700004578s;
  --fall-delay: 11912289159.8050003052s;
}
.star:nth-child(50) {
  --star-tail-length: 2846479947.5399999619em;
  --top-offset: 122261106188.1300048828vh;
  --fall-duration: 5597496900.6890001297s;
  --fall-delay: 17628908424.5709991455s;
}
.star::before, .star::after {
  position: absolute;
  content: '
 '
 ;
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
 }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
 }
  70%, 80% {
    width: 0;
    opacity: 0.4;
 }
  100% {
    width: 0;
    opacity: 0;
 }
}
@keyframes blink {
  50% {
    opacity: 0.6;
 }
}

